doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet", href="/css/style.css")
            title Blog App
           
    body 
       
        include _header

        //content

        block content
         h1 This is OverView Page
        
        include _footer
       
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js")
        script(src="/js/login.js")
        script(src="/js/logout.js") 
        script(src="/js/signup.js") 
        script(src="/js/update.js") 
        script(src="/js/delete.js") 