extends base 

block content 

    h1.login-heading Login To Account

    section.login_container 
        div 
            label.label.label-email(for="email") 📧 Email:
        div 
            input.input.email-input(type="email")

        div 
            label.label.label-email(for="email") 🔑 Password:
        div 
            input.input.password-input(type="password")
        div 
        div.form
            button.submit Submit